{% extends 'base.html' %}

{% block title}Task Lists{% endblock}

{% block content %}
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Category</th>
    </tr>

        <tr>
            <td>{{ task.title }}</td> 
            <td>{{ task.description}}</td> 
            <td>{{ task.due_date }}</td> 
            <td>{{ task.status }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.category.name }}</td>
        </tr>
</table>
</br>
<a href="{% url 'task_list' %}">Back to Task List</a>
{% endblock %}